.bgc {
    z-index: 0;
    position: absolute;
    background-color: rgba(33, 37, 41);
    padding-left: 50vw;
    padding-right: 50vw;
    padding-bottom: 30vh;
    
}
.carousel-p {
    margin-top: 10vh;
    margin-right: 25vw;
    margin-left: 25vw;
}

.slide-style {
    color: rgba(248, 245, 248);
}

.div-h4-p {
    padding-top:5vh;
    padding-left: 25vw;
    width: 70em;
    padding-bottom: 10vh;
    text-align: justify;
}